# Set the default behavior, in case people don't have core.autocrlf set.

* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted

# to native line endings on checkout.

*.c text
*.cpp text
*.cxx text
*.h text
*.hpp text

*.cs text
*.def text

*.pl text
*.py text

*.java text

*.txt text
*.md text

*.xml text
*.htm text
*.html text
*.xsd text
*.xslt text

.gitattributes text
.gitignore text


# Declare files that will always have CRLF line endings on checkout.

*.rc text eol=crlf

*.sln text eol=crlf

*.vcproj text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.* text eol=crlf
*.dsw text eol=crlf
*.dsp text eol=crlf
*.spl text eol=crlf

*.mak text eol=crlf

*.csproj text eol=crlf


# https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-wsl-resulting-in-many-modified-files
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf


# Denote all files that are truly binary and should not be modified.
*.tar binary
*.tgz binary
*.gz binary
*.zip binary
*.jar binary

*.dll binary
*.so binary
*.so.* binary
*.a binary
*.lib binary

*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.bmp binary

*.sio binary

*.nitf binary
*.ntf binary

*.sicd binary


